<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>TEST LAST & GABA</title>
</head>
<body>
  <button onclick="toggleNav()">MENU TEST</button>

  <script>
    function toggleNav() {
      alert('toggleNav OK');
    }
  </script>
</body>
</html>